<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" 
    id="com.eliberty.plugin.payzen"
    version="1.0.0"
    >
    <name>CordovaPayzen</name>
    <description>Payzen SDK for Cordova</description>
    <license>MIT</license>
    <keywords>cordova,payzen,sdk</keywords>

    <js-module src="www/cordova-payzen.js" name="CordovaPayzen">
        <clobbers target="CordovaPayzen" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaPayzen">
                <param name="android-package" value="com.eliberty.plugin.payzen.CordovaPayzen"/>
            </feature>
        </config-file>

        <source-file src="src/android/CordovaPayzen.java" target-dir="src/com/eliberty/plugin/payzen/" />        
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
